.rhead {
	padding-left: 25px;
	border-bottom: solid;
}

.reponame {
	font-weight: bold;
	padding-top: 6px;
}

.repodesc {
	font-size: 14px;
	
}

.repoowner {
	font-size: 13px;
	color: #666;
	
}

.rnav {
	font-size: 12px;
}

.rdiv {
	
}

#repos {}

#repolist {
	/*background:black;*/
	padding-left: 50px;
	padding-right: 50px;
}